/* Personalisation */
.personalisation-section {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--extra-light);
}

.personalisation-section h2 {
  font-size: 3em;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.personalisation-description {
  height: auto;
  font-family: "Lato", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 50px;
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.calligraphy-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: var(--max-width);
  margin: auto;
  padding: 20px;
}

.calligraphy-content img {
  width: 80%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 50px;
}

.calligraphy-info {
  width: 100%;
  text-align: center;
}

.calligraphy-info p {
  color: var(--text-dark);
  font-size: 1.5em;
}

@media (max-width: 1024px) {
  .calligraphy-section h2 {
    font-size: 3em;
  }

  .personalisation-description {
    font-size: 1.8rem;
  }

  .calligraphy-content {
    flex-direction: column;
  }

  .calligraphy-content img {
    width: 90%;
  }

  .calligraphy-info p {
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  .calligraphy-section {
    padding: 20px 10px;
  }

  .calligraphy-section h2 {
    font-size: 2.5em;
  }

  .personalisation-description {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .calligraphy-content img {
    width: 100%;
    margin-bottom: 30px;
  }

  .calligraphy-info p {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .calligraphy-section h2 {
    font-size: 2em;
  }

  .personalisation-description {
    font-size: 1.3rem;
  }

  .calligraphy-info p {
    font-size: 1em;
  }
}
